<section class="post-list">
  <div class="container">
   <ul>
    {% assign sorted = site.bsip | sort: 'date' | reverse %}
    {% for worker in sorted %}
      <li>
        <span class="worker-list">
          {{ worker.start | date: "%Y/%b/%d" }} by
          <span class="worker-id">{{ worker.od }}</span>
          <span class="worker-name">{{ worker.name }}</span>
         </span>
        <div class="worker-title"><a class="worker-link" href="{{ worker.url | prepend: site.baseurl }}">{{ worker.title }}</a></div>
      </li>
    {% endfor %}
   </ul>
  </div>
</section>
