<section class="post-list">
  <div class="container">
   <ul>
    {% for post in site.workers %}
      <li>
        <span class="worker-list">
          {{ post.date | date: "%Y %b %d" }} by
          <span class="worker-name">{{ post.name }}</span>
          <span class="worker-company">
           <a target="_blank" href="{{post.company.url}}">{{post.company.name}}</a>
          </span>
         </span>
        <div class="worker-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
      </li>
    {% endfor %}
   </ul>
  </div>
</section>
