@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Inconsolata";
    height: 100%;
}
a {
    text-decoration: none;
    color: $accent;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   // color: #189fceff;
}

footer {
  width: 100%;
  height: 64px;
  background-image: url("/img/banner.png");
  background-size: auto 64px;
}

pre {
  padding: 10px;
  background-color: #EEE;
  margin-left: 1rem;
  border-left: 4px solid #189fceff;
}

h1, h2, h3, h4, h5 {
  border-bottom: 1px solid #189fceff;
  color: #555;

  .subheader {
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 0.4rem;
    font-style: italic;
  }

  .subheader-right {
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 0.4rem;
    font-style: italic;
    float: right;
  }
}


/*
 * Navbar
 */

#author-name {
    font-size: 30px;
    color: #272727;
    display: inline-block;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.navbar .logo {
    height: 4rem;
    margin-top: -2rem;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Workers */
.worker-list {
}

.worker-name {
 font-weight: bold;
}

.worker-company a {
    text-decoration: none;
    color: black;
}

.worker-title {
 font-size: 1.4rem;
 margin-left: 1rem;
}

/* Partners */
.thumbnail a img {
 height: 64px;
 margin-top: 5px;
 height: 64px;
}
.thumbnail {
 padding-bottom:0em;
 width: 120px;
 min-height: 140px;
 max-height: 140px;
}
.thumbnail .caption {
 margin-top: -10px;
}

.text-center {
  text-align: center;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 580px) {
    #author-name {
        display: inline-block;
    }
}

@import "typography";
@import "tables";
