{% include header.html %}
<body>
 <div class="wrapper">
  {% include navbar.html %}
  <div class="container content">
   <table>
    <tbody>
     <tr>
      <th colspan=2 class="text-center">{{page.title}}</th>
     </tr>
     <tr>
      <th>Name/bfid</th>
      <td>{{page.bfid}}</td>
     </tr>
     <tr>
      <th>Total</th>
      <td>{{page.price}}</td>
     </tr>
     <tr>
      <th>Duration</th>
      <td>{{page.start}} - {{page.end}} ({{page.duration}})</td>
     </tr>
     <tr>
      <th>Worker ID</th>
      <td>{{page.workerid}}</td>
     </tr>
     <tr>
      <th>Discussions</th>
      <td>
       <ul>
       {% for d in page.discussions %}
       <li>
        <a href="{{d.url}}">{{d.name}}</a>
       </li>
       {% endfor %}
       </ul>
      </td>
     </tr>
     <tr>
      <th>Invoices</th>
      <td>
       <ul>
       {% for d in page.invoices %}
       <li>
        <a href="{{ site.url }}/download/invoices/{{d}}">{{d}}</a>
       </li>
       {% endfor %}
       </ul>
      </td>
     </tr>
     <tr>
      <th>Payments</th>
      <td>
       <ul>
       {% for d in page.payments %}
       <li>
        {{d.date}} - <a href="http://bitshares-explorer.io:9009/#/objects/{{ d.opid }}">{{d.amount}}</a>
       </li>
       {% endfor %}
       </ul>
      </td>
     </tr>
    </tbody>
   </table>
   <div>
    {{ content }}
   </div>
  </div>
 </div>
 {% include footer.html %}
</body>
