{% include header.html %}
<body>
 <div class="wrapper">
  {% include navbar.html %}
  <div class="container content">
   <table>
    <tbody>
     <tr>
      <th colspan=2 class="text-center">{{page.title}}</th>
     </tr>
     <tr>
      <th>Name/bfid</th>
      <td>{{page.bfid}}</td>
     </tr>
     <tr>
      <th>Freelancer</th>
      <td>{{page.name}}
       {% if page.company.url %}
       - <a href="{{page.company.url}}">{{page.company.name}}</a></td>
       {% endif %}
     </tr>
     <tr>
      <th>Total</th>
      <td>{{page.price}}
		{% if page.price_division %}
				({{page.price_division.fixed}} fees and {{page.price_division.variable}} estimated expenses)
		{% endif %}
      </td>
     </tr>
     <tr>
      <th>Duration</th>
      <td>{{page.start}} - {{page.end}} ({{page.duration}})</td>
     </tr>
     <tr>
      <th>Worker ID</th>
      <td>{{page.workerid}} Vote now: <span id="bitshares-widget-voting-1" workerid="{{page.workerid}}" layout="inline" ></span></td>
     </tr>
     <tr>
      <th>Discussions</th>
      <td>
       <ul>
       {% for d in page.discussions %}
       <li>
        <a href="{{d.url}}">{{d.name}}</a>
       </li>
       {% endfor %}
       </ul>
      </td>
     </tr>
     <tr>
      <th>Accounting &amp; Reporting</th>
      <td><a href="https://workers.bitshares.foundation/{{page.bfid}}">workers.bitshares.foundation/{{page.bfid}}</a></td>
     </tr>
    </tbody>
   </table>
   <div>
    {{ content }}
   </div>
  </div>
 </div>
 {% include footer.html %}
<script type=text/javascript src="/static/js/bitshares-widget-voting.0.1.manifest.js"></script>
<script type=text/javascript src="/static/js/bitshares-widget-voting.0.1.vendor.js"></script>
<script type=text/javascript src="/static/js/bitshares-widget-voting.0.1.js"></script>

<link href="/static/css/bitshares-widget-voting.0.1.css" rel=stylesheet>
</body>
