{% include header.html %}
<body>
 <div class="wrapper">
  {% include navbar.html %}
  <div class="container content">
   <img src="/img/logo.png" />
   <table>
    <thead>
     <tr>
      <th colspan=5>Status</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>Vetted</td>
      <td>Created</td>
      <td>Approved</td>
      <td>Paying</td>
      <td>Finished</td>
     </tr>
     <tr>
      <td><i class="fa fa-{% if page.status.proposal-vetted %}check{% else %}close{% endif %}"></i></td>
      <td><i class="fa fa-{% if page.status.worker-created %}check{% else %}close{% endif %}"></i></td>
      <td><i class="fa fa-{% if page.status.worker-approved %}check{% else %}close{% endif %}"></i></td>
      <td><i class="fa fa-{% if page.status.worker-paying %}check{% else %}close{% endif %}"></i></td>
      <td><i class="fa fa-{% if page.status.worker-finished %}check{% else %}close{% endif %}"></i></td>
     </tr>
    </tbody>
   </table>
   {{ content }}
  </div>
 </div>
 {% include footer.html %}
</body>
